# dependencies
/node_modules
/.pnpm
/.yarn

# next.js build output
/.next/
/out/

# production
/build

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local
.env.local

# vercel
.vercel

# IDE & OS files
.DS_Store
*.pem
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Gemin / Agent temporary files
.gemini/
